<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>webimagetest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>843BF6331ED6677300B75E72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>843BF64A1ED6677400B75E72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>843BF6551ED6677400B75E72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
